{
  "log": {
    "_recordingName": "Testing JSON Pipeline/json.pipe does not overwrite existing response body",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "939c793ac91a21b0e973a8ec0fe8a6c1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owner",
              "value": "trieloff"
            },
            {
              "name": "repo",
              "value": "soupdemo"
            },
            {
              "name": "path",
              "value": "/hello.md"
            },
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/content-proxy@v2?owner=trieloff&repo=soupdemo&path=%2Fhello.md&ref=master"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 141,
            "text": "---\ntemplate: Medium\n---\n\n# Bill, Welcome to the future\n> Project Helix\n\n## Let's talk about Project Helix\n![](./moscow/assets/IMG_0167.jpg)\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1601454857.676"
            },
            {
              "name": "surrogate-control",
              "value": "max-age=60"
            },
            {
              "name": "surrogate-key",
              "value": "yt+7rF5AO4Kmk0aF"
            },
            {
              "name": "x-gw-cache",
              "value": "HIT"
            },
            {
              "name": "x-last-activation-id",
              "value": "12cf90f6adc44ee48f90f6adc45ee432"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "6c220e1b30134270a20e1b3013e2707b"
            },
            {
              "name": "x-source-location",
              "value": "https://raw.githubusercontent.com/trieloff/soupdemo/master/hello.md"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 546,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
