{
  "log": {
    "_recordingName": "Test resolve git ref/Resolve resolves missing ref as master correctly.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "e692ed123439cb70b9d9522faf6e1f35",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owner",
              "value": "adobe"
            },
            {
              "name": "repo",
              "value": "helix-cli"
            },
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/resolve-git-ref%40v1?owner=adobe&repo=helix-cli&ref=master"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\n  \"fqRef\": \"refs/heads/master\",\n  \"sha\": \"565cb704628a094edde7e7f87d662b89559adcf0\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1561080582.631"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "017f505626014602bf505626013602e5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 675,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
