{
  "log": {
    "_recordingName": "Testing XML Pipeline/xml.pipe makes HTTP requests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.1"
    },
    "entries": [
      {
        "_id": "2796ff1ed16949f0f328bd963c42f3d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://master--soupdemo--trieloff.hlx.page/hello.md"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 141,
            "text": "---\ntemplate: Medium\n---\n\n# Bill, Welcome to the future\n> Project Helix\n\n## Let's talk about Project Helix\n![](./moscow/assets/IMG_0167.jpg)\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            },
            {
              "name": "x-source-location",
              "value": "https://raw.githubusercontent.com/trieloff/soupdemo/master/hello.md"
            },
            {
              "name": "surrogate-key",
              "value": "all tqMVIwZTnBCix7Ax /8ofkJrPi+Gbyf2j I7bQ6I3DzAnTU213 yt+7rF5AO4Kmk0aF"
            },
            {
              "name": "x-version",
              "value": "525; src=521; cli=8.4.12; rev=online; src=521; cli=8.4.12; rev=online"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1529,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
