{
  "log": {
    "_recordingName": "Testing XML Pipeline/xml.pipe serves 404 for non existent content",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.1"
    },
    "entries": [
      {
        "_id": "0eee514253c8165a3e3c828b72ac43de",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "owner",
              "value": "trieloff"
            },
            {
              "name": "repo",
              "value": "soupdemo"
            },
            {
              "name": "path",
              "value": "/non_existent_file.md"
            },
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/web/helix/helix-services/content-proxy@v1?owner=trieloff&repo=soupdemo&path=%2Fnon_existent_file.md&ref=master"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 14,
            "text": "404: Not Found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-last-activation-id",
              "value": "a3bbb2cd9264472dbbb2cd9264d72d5d"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "5243ec78bff4487283ec78bff4287297"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1091,
      },
      {
        "_id": "f627c1277171a88083a8617ffbf6a063",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://raw.githubusercontent.com/trieloff/soupdemo/master/non_existent_file.md"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 14,
            "text": "404: Not Found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "x-fastly-request-id",
              "value": "e551861632d445a9428a4a2bab3caf15c18454ec"
            },
            {
              "name": "source-age",
              "value": "0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 429,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
