{
  "log": {
    "_recordingName": "Test non-existing content/Getting XDM README (from wrong URL)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.1"
    },
    "entries": [
      {
        "_id": "dab2e24e01adace5c1be5196a89c9fde",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://api.github.com/repos/nobody/xdm/contents/README.md?ref=master"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 106,
            "text": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/repos/contents/#get-contents\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "404 Not Found"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1555331700"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=VERSION.raw"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 574,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
