{
  "log": {
    "_recordingName": "Test resolve git ref/Resolve resolves master ref correctly using openwhisk.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "4c41e3aaf5eaf00ed28af7f193f8d62e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"owner\":\"adobe\",\"repo\":\"helix-cli\",\"ref\":\"master\"}"
          },
          "queryString": [
            {
              "name": "blocking",
              "value": "true"
            }
          ],
          "url": "https://adobeioruntime.net/api/v1/namespaces/helix/actions/helix-services/resolve-git-ref%40v1?blocking=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 691,
            "text": "{\"activationId\":\"152da2393e424116ada2393e4261168c\",\"annotations\":[{\"key\":\"topmost\",\"value\":true},{\"key\":\"path\",\"value\":\"helix/helix-services/resolve-git-ref@v1\"},{\"key\":\"kind\",\"value\":\"sequence\"},{\"key\":\"limits\",\"value\":{\"concurrency\":200,\"logs\":10,\"memory\":256,\"timeout\":60000}}],\"duration\":108,\"end\":1561080581943,\"logs\":[\"b63c0bb84dcc40ccbc0bb84dcc40cc05\"],\"name\":\"resolve-git-ref@v1\",\"namespace\":\"tripod\",\"publish\":false,\"response\":{\"result\":{\"body\":{\"fqRef\":\"refs/heads/master\",\"sha\":\"565cb704628a094edde7e7f87d662b89559adcf0\"},\"headers\":{\"Content-Type\":\"application/json\"},\"statusCode\":200},\"status\":\"success\",\"success\":true},\"start\":1561080581794,\"subject\":\"tripod\",\"version\":\"0.0.4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "152da2393e424116ada2393e4261168c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 782,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
