{
  "log": {
    "_recordingName": "Test requests/Getting XDM README",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.4.1"
    },
    "entries": [
      {
        "_id": "ff960e5aabc9ce60615209ac699abb96",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ref",
              "value": "master"
            }
          ],
          "url": "https://api.github.com/repos/adobe/xdm/contents/README.md?ref=master"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.github.VERSION.raw; charset=utf-8",
            "size": 7570,
            "text": "# Experience Data Model (XDM) Schema\n\n[![CircleCI](https://circleci.com/gh/adobe/xdm.svg?style=svg)](https://circleci.com/gh/adobe/xdm) [![Greenkeeper badge](https://badges.greenkeeper.io/adobe/xdm.svg)](https://greenkeeper.io/)\n\nThe [Experience Data Model](https://www.adobe.io/open/standards/xdm) (XDM) is the language of digital experiences.\nXDM is a publicly documented specification, driven by Adobe to improve the interoperability, expressiveness, and power of digital experiences.\nThis[...]
