{
  "log": {
    "_recordingName": "Testing XML Pipeline/xml.pipe does not overwrite existing response body",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "2796ff1ed16949f0f328bd963c42f3d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://master--soupdemo--trieloff.hlx.page/hello.md"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 141,
            "text": "---\ntemplate: Medium\n---\n\n# Bill, Welcome to the future\n> Project Helix\n\n## Let's talk about Project Helix\n![](./moscow/assets/IMG_0167.jpg)\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "x-invocation-id",
              "value": "ed7f9a1b-653f-4516-a5fa-176c1143f06e"
            },
            {
              "name": "x-source-location",
              "value": "https://raw.githubusercontent.com/trieloff/soupdemo/master/hello.md"
            },
            {
              "name": "apigw-requestid",
              "value": "LXFkuhP-oAMEMuA="
            },
            {
              "name": "x-backend-health",
              "value": "1"
            },
            {
              "name": "x-surrogate-key",
              "value": "yt+7rF5AO4Kmk0aF"
            },
            {
              "name": "x-surrogate-control",
              "value": "max-age=60"
            },
            {
              "name": "x-gateway-restarts",
              "value": "0"
            },
            {
              "name": "surrogate-key",
              "value": "all tqMVIwZTnBCix7Ax /8ofkJrPi+Gbyf2j I7bQ6I3DzAnTU213 yt+7rF5AO4Kmk0aF"
            },
            {
              "name": "x-version",
              "value": "690; src=689; cli=8.14.27; rev=online; src=689; cli=8.14.27; rev=online"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 12,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
